* {
	padding: 0;
	margin: 0;
}

.container {
	width: 900px;
	margin: 0 auto;
}

.hero {
	height: 100vh;
	background-color: gray;
}

.hero h2 {
	height: 10vh;
	background-color: lightblue;
}

.main {
	height: 100%;
	
	display: flex;
	justify-content: center;
	align-items: center;

	outline: 2px dashed;
}

.text {
	flex: 1;
}

.pic {
	flex: 1;
	width: 100%;
	height: 300px;
	outline: 2px solid lime;
}